@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
}

header{
    position: fixed;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(28, 106, 146);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1,1);
}

nav a{
    font-size: 1.8rem;
    color: aliceblue;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: red;
    border-bottom: 3px solid rgb(237, 91, 91);
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.close-btn{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media(max-width:880px){
    .navbar-toggle{
        display: inline-block;
        position: relative;
        padding: 15px 30px;
        text-transform: uppercase;
        color: #fefefe;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        transition: 0.3s;
        background-color: transparent;
        cursor: pointer;    
    }

    .navbar-toggle::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 6px);
        height: calc(100% + 2px);
        transition: 0.3s ease-out;
        transform: scaleY(1);
    }
    .navbar-toggle::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% - 50px);
        transition: 0.3s ease-out;
        transform: scaleY(1);
    }

    .navbar-toggle:hover::before {
        transform: translateY(-25px);
        height: 0;
    }

    .navbar-toggle:hover::after {
        transform: scaleX(0);
        transition-delay: 0.15s;
    }

    .navbar-toggle:hover {
        border: 2px solid #fefefe;
    }

    .navbar-toggle .spn2 {
        position: relative; 
        text-decoration: none;
        border: none;
        background-color: transparent;
    }

    .navbar-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 70vh;
        width: 250px;
        top: 100px; 
        right: -250px; /* Oculto por defecto */
        box-shadow: 0 10px black;
        backdrop-filter: blur(10px); 
        transition: right 0.3s ease;
    }

    .navbar-menu.active{
        right: 0; /* Se muestra al activar */
        padding-top: 5rem;
        border-radius: 16px 0px 0px 16px;
    }

    .navbar .navbar-menu a{
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    .navbar .navbar-menu a:hover,
    .navbar .navbar-menu a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid red;
    }

    .bar {
        color: white;
    }
}

section{
    min-height: 100vh;
}

.home{
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(45, 229, 210);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
     pointer-events: none;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid rgb(179, 71, 71);
    cursor: pointer;
    transition: 0.2s linear;
    pointer-events: none;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid red;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: aquamarine;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: red;
    box-shadow: 0 0 25px rgb(183, 57, 57);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: red;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid red;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: rgb(51, 156, 165);
    color: black;
    box-shadow: 0 20 80px rgb(26, 47, 132);
}

.typing-text{
    font-size: 34px;
    min-width: 280px;

    @media(max-width:720px){
        font-size: 28px;
        min-width: 280px;
    }
}

.typing-text span{
    position: relative;
    margin-inline: auto;
    overflow: hidden;
    /* Keeps on a single line */
    white-space: nowrap;
    /* The cursor */
}

.typing-text span::before{
    content: "Software Developer";
    color: rgb(169, 39, 39);
    animation: words 15s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #080000;
    
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -2;
    animation: cursor 0.6s steps(12) forwards, blink 1s step-end infinite; 
}

@keyframes cursor{
    to{
        border-left: 3px solid rgb(169, 46, 46);
    }
}

@keyframes words{
    0%, 10%{
        content: "Web Developer";
    }

    11%, 20%{
        content: "...";
    }

    21%, 30%{
        content: "DevOps Developer";
        color: purple;
    }

    31%, 40%{
        content: "...";
    }

    41%, 50%{
        content: "Developer Advisor";
        color: aqua;
    }

    51%, 60%{
        content: "...";
    }

    61%, 70%{
        content: "Pixel Artist";
        color: rgb(36, 136, 138);
    }

    71%, 80%{
        content: "...";
    }    

    81%, 90%{
        content: "I'm Batman";
        color: #32092c;
    }

    91%, 100%{
        content: "...";
    }

}

@media(max-width:1000px) {
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 40vh;
        margin-top: 4rem;
    }

}


